<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <div class="pure-menu pure-menu-horizontal pure-menu-custom-1">
        <a href="#" class="pure-menu-link pure-menu-heading">ArtZone</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-separator"></li>
            <li class="pure-menu-item"><a href="https://play.workadventu.re/_/gcp06d5lz24/localhost:3000/map.json" class="pure-menu-link">Gallery</a></li>
            <li class="pure-menu-item"><a href="/wenxin/" class="pure-menu-link">WenXin</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Blog</a></li>
            <li class="pure-menu-item"><a href="mailto:lwk1609964274@outlook.com" class="pure-menu-link">Contact</a></li>
            <li class="pure-menu-item"><a href="" class="pure-menu-link">GitHub</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Twitter</a></li>
        </ul>
    </div>
</body>
</html>